
<div class="container">
    <h2 align="right">ניהול חברות</h2>
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>עידכון</th>
            <th>מחיקה</th>
            <th>פרטים נוספים</th>
            <th>אחוז רווח</th>
            <th>אחוז חישוב</th>
            <th>תמונה</th>
            <th>שם חברה</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in companyList">
            <td > <button  ng-click="findItem(item._id)"  type="button" align="right" class="btn btn-default btn-lg" data-toggle="modal" data-target="#update_myModal" >עדכון חברה</button></td>
            <td> <a ng-click="deleteCompany(item._id)">מחיקה</a></td>
            <td>{{item.details}}</td>
            <td>{{item.percentProfit}}</td>
            <td>{{item.percentCalc}}</td>
            <td><img src=images\{{item.image}}></td>
            <td>{{item.name}}</td>

        </tr>
        </tbody>
    </table>

    <div class="container">
        <!-- Trigger the modal with a button -->
        <button  type="button"  class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" >הוספת חברה חדשה</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">הוסף חברה:</h2>
                    </div>
                    <div class="modal-body">
                        <form name="myForm"  class="form-horizontal" novalidate ng-submit="insertCompany(myForm)">
                            <label>שם:
                                <input type="text" id="name" placeholder="שם חברה"  name ="company" ng-model="name" required/><br>
                                <span class="error" ng-show="myForm.company.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>אחוז חישוב:
                                <input type="number"  name="percentCalc"  ng-model="percentCalc" min="0" step="0.1" required/><br>
                                <span class="error" ng-show="myForm.percentCalc.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>אחוז רווח:
                                <input type="number"   name="percentProfit" ng-model="percentProfit"  min="1" step="0.1" required/><br>
                                <span class="error" ng-show="myForm.percentProfit.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>פרטים נוספים:
                                <input type="text"  id="details" placeholder="פרטים נוספים"  ng-model="details" />
                            </label><br>
                            <input type="submit"   class="btn btn-default" name="submit"  ng-disabled="myForm.$invalid" value="אישור"/>
                            <input type="button"   class="btn btn-default" value="סגור" data-dismiss="modal"/><br><br>
                            <script>
                                $('[data-dismiss=modal]').on('click', function (e) {

                                    var $t = $(this),
                                        target = $t[0].href || $t.data("target") || $t.parents('.modal') || [];
                                    var modalId=(target[0]).id;
                                    if(modalId!='update_myModal') {
                                        $(target)
                                            .find("input[type=text],input[type=number],textarea,select")
                                            .val('')
                                            .end()
                                            .find("input[type=checkbox], input[type=radio]")
                                            .prop("checked", "")
                                            .end();
                                    }
                                })
                            </script>

                        </form>

                    </div>

                </div>
            </div>
        </div>

    </div>

        <div class="container">

            <!-- Modal -->
            <div class="modal fade" id="update_myModal">
                <div class="modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">עדכן חברה:</h2>
                        </div>
                        <div class="modal-body">
                            <form name="myUpdateForm" form class="form-horizontal"  ng-submit="update(myUpdateForm)">
                                <label>{{itemToEdit.name}}</label><br>
                                <label>הכנס שדות שברצונך לעדכן:</label></br></br>
                                <label>אחוז חישוב:

                                    <input type="number" value="{{itemToEdit.percentCalc}}"  name="percentCalc"  id="percentCalc" min="0" max="100" step="0.1" required/><br>
                                    <span class="error" ng-show="myUpdateForm.percentCalc.$error.required" style="color:darkred">שדה חובה</span><br>
                                </label></br>
                                <label>אחוז רווח:
                                    <input type="number" value="{{itemToEdit.percentProfit}}" name="percentProfit" id="percentProfit" step="0.1"  min="0" max="100" required/><br>
                                    <span class="error" ng-show="myUpdateForm.percentProfit.$error.required" style="color:darkred">שדה חובה</span><br>
                                </label></br>
                                <label>פרטים נוספים:
                                    <input type="text" ng-model="details" name="details" id="update_details" placeholder="פרטים נוספים"  id="update_details" />
                                </label></br>
                                <input type="submit"  class="btn btn-default" name="submit"   ng-disabled="myUpdateForm.$invalid" value="אישור"/>
                                <input type="button"  class="btn btn-default" value="סגור" data-dismiss="modal"/></br></br>

                            </form>

                        </div>

                    </div>
                </div>
            <!--<div id="test"></div>-->
        </div>

            <style>
                #myModal {
                    direction: rtl;
                    font-size: large;
                }
                #update_myModal {
                    direction: rtl;
                    font-size: large;
                }
            </style>
            <input type="hidden" id="load"></input>
    <script>
        $(function(){
            var loaded = parseInt(localStorage.getItem('loaded'), 10),
                loaded_numb = loaded?loaded+1:1;
            localStorage.setItem('loaded', loaded_numb);

            $('#load').val(loaded_numb);
        });
    </script>

        </div>
</div>