
<html ng-app="myAppAdmin">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- SPELLS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--<script src="C:\Users\Tzofia\Desktop\WatchItProject\js\libraries\angular\angular.js"></script>-->
    <!--<script src="C:\Users\Tzofia\Desktop\WatchItProject\js\libraries\angular\angular-route.js"></script>-->
    <!--<script src="C:\Users\Tzofia\Desktop\WatchItProject\client\admin\scripts\script.js"></script>-->
    <!--<script src="../../../js/libraries/angular.js"></script>-->
    <!--<script src="../../../js/libraries/angular-route.js"></script>-->
    <script src="script.js"></script>

</head>

<!-- define angular controller -->
<body ng-controller="mainController">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span>תפריט</a></li>
            <li><a href="#watch"><span class="glyphicon glyphicon-time"></span>ניהול שעונים</a></li>
            <li><a href="#company"> <span class="glyphicon glyphicon-home"></span>ניהול חברות</a></li>
            <li><a href="#orders"><span class="glyphicon glyphicon-shopping-cart"></span>ניהול הזמנות</a></li>
            <li><a href="#message"><span class="glyphicon glyphicon-envelope"></span>ניהול הודעות</a></li>
            <li><a href="#rights"> <span class="glyphicon glyphicon-lock"></span>ניהול הרשאות</a></li>

        </ul>
    </div>
</nav>

<div id="main">

    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>

</div>


</body>

</html>
