


<div class="container">
    <h2 text align="right">תפריט</h2>
    <button type="button" class="btn btn-default btn-lg btn-block"><a href="#watch"> <span class="glyphicon glyphicon-home"></span> שעונים</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block"><a href="#company"> <span class="glyphicon glyphicon-home"></span> חברות</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block"><a href="#orders"><span class="glyphicon glyphicon-shopping-cart"></span> הזמנות</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block"><a href="#message"><span class="glyphicon glyphicon-envelope"></span> הודעות</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block"><a href="#rights"> <span class="glyphicon glyphicon-lock"></span>הרשאות</a></button>
</div>

