<div class="container">
    <h2 text align="right">ניהול שעונים</h2>
    <input id="search" type="text" ng-model="searchString" placeholder="חיפוש שעון">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>עידכון</th>
            <th>מחיקה</th>
            <th>קטגוריה</th>
            <th>תמונה</th>
            <th>פרטים נוספים</th>
            <th>סוג מנגנון</th>
            <th>זמינות</th>
            <th>מחיר סופי</th>
            <th>מחיר מחירון</th>
            <th>חברה</th>
            <th>דגם חברה</th>
            <th>דגם שעון בקטלוג</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in watchesList | searchFor:searchString">
            <td > <button  ng-click="findItem(item._id)"  type="button" align="right" class="btn btn-default btn-lg" data-toggle="modal" data-target="#updateWatchModel" >עדכון</button></td>

            <td><a ng-click="deleteWatch(item._id)">מחיקה</a></td>
            <td ng-if="item.category=='2'">נשים</td>
            <td ng-if="item.category=='1'">גברים</td>
            <td><img src=images\{{item.image}}></td>
            <td>{{item.details}}</td>
            <td ng-if="item.type=='1'">אנלוגי</td>
            <td ng-if="item.type=='2'">דיגיטלי</td>
            <td ng-if="item.type=='3'">כרונוגרף</td>


            <td ng-if="item.inStock=='true'"><span class="glyphicon glyphicon-ok"></span></td>
            <td ng-if="item.inStock=='false'"><span class="glyphicon glyphicon-remove"></span></td>
            <td>{{item.endPrice}}₪</td>
            <td>{{item.priceList}}₪</td>
            <td>{{item.company}}</td>
            <td>{{item.model}}</td>
            <td>{{item.wId}}</td>
        </tr>
        </tbody>
    </table>
    <div class="container">
        <!-- Trigger the modal with a button -->
        <button  type="button"  class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">הוספת שעון חדש</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">הוסף שעון:</h2>
                    </div>
                    <div class="modal-body">
                        <form name="myForm"  class="form-horizontal" novalidate ng-submit="insertWatch(myForm)">
                            <label>דגם שעון בקטלוג:
                                <input type="text"  placeholder=" דגם שעון בקטלוג"  name ="myModel" ng-model="myModel" required/><br>
                                <span class="error" ng-show="myForm.myModel.$error.required" style="color:darkred">Required</span><br>
                            </label><br>
                            <label>דגם:
                                <input type="text"  placeholder="דגם"  name ="model" ng-model="model" required/><br>
                                <span class="error" ng-show="myForm.model.$error.required" style="color:darkred">Required</span><br>
                            </label><br>

                            <label>חברה:
                                <select  name="company" ng-model="selectedCompany"  ng-options="x for x in companies" ng-change="updateCompany(selectedCompany)" required></select>
                            </label><br>
                            <label>מחיר מחירון:
                                <input type="number" name="priceList" min="1" step="0.1" ng-model="priceList" required/><br>
                                <span class="error" ng-show="myForm.priceList.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>מחיר סופי:
                                <input type="number"  name="endPrice"  ng-model="endPrice" min="1" step="0.1" required/><br>
                                <span class="error" ng-show="myForm.endPrice.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>זמין\לא זמין
                                <select  name="stock" ng-model="selectedStock"  ng-options="x for x in stock " ng-change="updateStock(selectedStock)" required ></select>
                                <span class="error" ng-show="myForm.name.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>סוג מנגנון:
                                <select name="type" ng-model="selectedType" ng-options="x for x in type" ng-change="updateType(selectedType)" required></select>
                                <span class="error" ng-show="myForm.type.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>פרטים נוספים:
                                <input type="text"  name="details" placeholder="פרטים נוספים"  ng-model="details" />
                            </label><br>
                            <label> קטגוריה:
                                <select name ="category_options" ng-model="selectedCategory" ng-options="x for x in category" ng-change="updateCategory(selectedCategory)" required></select>
                                <span class="error" ng-show="myForm.category.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br><br>
                            <input type="submit"   class="btn btn-default" name="submit"  ng-disabled="myForm.$invalid" value="אישור"/>
                            <input type="button"   id="insertModal" class="btn btn-default" value="סגור" data-dismiss="modal"/><br><br>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="updateWatchModel">
            <div class="modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">עדכן שעון:</h2>
                    </div>
                    <div class="modal-body">
                        <form name="updateForm"  class="form-horizontal"  ng-submit="updateWatch(updateForm)">
                            <label>{{itemToEdit.wId}}</label><br>
                            <label>הכנס שדות שברצונך לעדכן:</label></br></br>
                            <label>דגם שעון בקטלוג:
                                <input type="text" value={{itemToEdit.wId}} id="wId"  placeholder=" דגם שעון בקטלוג"  name ="updateWatchModel"  required/><br>
                                <span class="error" ng-show="updateForm.myModel.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>דגם:
                                <input type="text" value={{itemToEdit.model}} id="model"  placeholder="דגם"  name ="model"  required/><br>
                                <span class="error" ng-show="updateForm.model.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>

                            <label>חברה:
                                <select  name="company"  data-ng-model="selectedOptionCompany"  data-ng-options="x for x in companies" ng-change="updateCompany(selectedOptionCompany)" required></select>
                            </label><br>
                            <label>מחיר מחירון:
                                <input type="number" value={{itemToEdit.priceList}} id="priceList" name="priceList" min="1" step="0.1" required/><br>
                                <span class="error" ng-show="updateForm.priceList.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>מחיר סופי:
                                <input type="number"  name="endPrice" value={{itemToEdit.endPrice}} id="endPrice"  min="1" step="0.1" required/><br>
                                <span class="error" ng-show="updateForm.endPrice.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>זמין\לא זמין
                                <select  name="stock"  data-ng-model="selectedOptionInStock" data-ng-options="x for x in stock" ng-change="updateStock(selectedOptionInStock)" required ></select>
                                <span class="error" ng-show="updateForm.name.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>סוג מנגנון:
                                <select name="type"  data-ng-model="selectedOptionType" id="type" data-ng-options="x for x in type" ng-change="updateType(selectedOptionType)" required></select>
                                <span class="error" ng-show="updateForm.type.$error.required" style="color:darkred">שדה חובה</span><br>
                            </label><br>
                            <label>פרטים נוספים:
                                <input type="text" value={{itemToEdit.details}} id="details" name="details" placeholder="פרטים נוספים"  />
                            </label><br>
                            <label> קטגוריה:
                                <select name ="category_options" value={{itemToEdit.category}} data-ng-model="selectedOptionCategory"  data-ng-options="x for x in category" ng-change="updateCategory(selectedOptionCategory)" required></select>
                                <span class="error" ng-show="updateForm.category.$error.required" style="color:darkred">שדה חובה</span><br>
                                <!--s-->
                            </label><br><br>
                            <input type="submit"   class="btn btn-default" name="submit"  ng-disabled="updateForm.$invalid" value="אישור"/>
                            <input type="button"   class="btn btn-default" value="סגור" data-dismiss="modal"/><br><br>
                            <script>
                                $('[data-dismiss=modal]').on('click', function (e) {
                                    console.log((e.target.nodeName.id));
                                    var $t = $(this),
                                        target = $t[0].href || $t.data("target") || $t.parents('.modal') || [];

                                    $(target)
                                        .find("input[type=text],input[type=number],textarea,select")
                                        .val('')
                                        .end()
                                        .find("input[type=checkbox], input[type=radio]")
                                        .prop("checked", "")
                                        .end();
                                })
                            </script>
                        </form>

                    </div>

                </div>
            </div>
        </div>


        <style>
            #myModal {
                direction: rtl;
                font-size: large;
            }


            #updateWatchModel {
                direction: rtl;
                font-size: large;
            }
        </style>


    </div>
</div>