<div class="container">
    <h2 text align="right">ניהול שעונים</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>עידכון</th>
            <th>מחיקה</th>
            <th>מזהה קטגוריה</th>
            <th>תמונה</th>
            <th>פרטים נוספים</th>
            <th>סוג מנגנון</th>
            <th>זמין\לאזמין</th>
            <th>מחיר סופי</th>
            <th>מחיר מחירון</th>
            <th>חברה</th>
            <th>דגם</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in watchesList">
            <th>עידכון</th>
            <th><a ng-click="deleteWatch(item._id)">מחיקה</a></th>
            <th>{{item.category}}</th>
            <th>{{item.image}}</th>
            <th>{{item.details}}</th>
            <th>{{item.type}}</th>
            <th>{{item.inStock}}</th>
            <th>{{item.endPrice}}</th>
            <th>{{item.priceList}}</th>
            <th>{{item.model}}</th>
        </tr>
        </tbody>
    </table>
    <div class="container">
        <!-- Trigger the modal with a button -->
        <button  type="button"  class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">הוספת שעון חדש</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">הוסף שעון:</h2>
                    </div>
                    <div class="modal-body">
                        <form name="myForm"  class="form-horizontal" novalidate ng-submit="insertWatch(myForm)">
                            <label>דגם:
                                <input type="text"  placeholder="דגם"  name ="model" ng-model="model" required/><br>
                                <span class="error" ng-show="myForm.model.$error.required" style="color:darkred">Required</span><br>
                            </label><br>
                            <label>חברה:
                                <select  name="company" ng-model="selectedCompany"  ng-options="x for x in company " ng-change="updateCompany(selectedCompany)" required></select>
                            </label><br>
                            <label>מחיר מחירון:
                                <input type="number" name="priceList" min="0" step="0.1" ng-model="priceList" required/><br>
                                <span class="error" ng-show="myForm.priceList.$error.required" style="color:darkred">Required</span><br>
                            </label><br>
                            <label>מחיר סופי:
                                <input type="number"  name="endPrice"  ng-model="endPrice" min="0" step="0.1" required/><br>
                                <span class="error" ng-show="myForm.endPrice.$error.required" style="color:darkred">Required</span><br>
                            </label><br>
                            <label>זמין\לא זמין
                                <select  name="stock" ng-model="selectedStock"  ng-options="x for x in stock " ng-change="updateStock(selectedStock)" required ></select>
                                <span class="error" ng-show="myForm.name.$error.required" style="color:darkred">Required</span><br>
                            </label><br>
                            <label>סוג מנגנון:
                                <select name="type" ng-model="selectedType" ng-options="x for x in type" ng-change="updateType(selectedType)" required></select>
                                <span class="error" ng-show="myForm.type.$error.required" style="color:darkred">Required</span><br>
                            </label><br>
                            <label>פרטים נוספים:
                                <input type="text"  name="details" placeholder="פרטים נוספים"  ng-model="details" />
                            </label><br>
                            <label>תמונה:
                                <input type="file" name="post_image" />
                            </label><br>
                            <label>מזהה קטגוריה:
                                <select name ="category" ng-model="selectedCategory" ng-options="x for x in category" ng-change="updateCategory(selectedCategory)" required></select>
                                <span class="error" ng-show="myForm.category.$error.required" style="color:darkred">Required</span><br>
                                <!--s-->
                            </label><br><br>
                            <input type="submit"   class="btn btn-default" name="submit"  ng-disabled="myForm.$invalid" value="אישור"/>
                            <input type="button"   class="btn btn-default" value="סגור" data-dismiss="modal"/><br><br>
                        </form>

                    </div>

                </div>
            </div>
        </div>



        <style>
            #myModal {
                direction: rtl;
                font-size: large;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    </div>
</div>
