
        <div class="container">
            <ul class="content-home">
                <li class="col-sm-4">
                    <a href="%23men" class="item-link" title="">
                        <div class="bannerBox">
                            <img src="images/w1.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                            <div class="item-html">
                                <h3>שעוני<span>גברים</span></h3>
                                <p> טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט</p>
                                <button>קנה עכשיו!</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-sm-4">
                    <a href="%23men" class="item-link" title="">
                        <div class="bannerBox">
                            <img src="images/w3.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                            <div class="item-html">
                                <h3>שעוני<span>נשים</span></h3>
                                <p>טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט</p>
                                <button>קנה עכשיו!</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-sm-4">
                    <a href="%23men" class="item-link" title="">
                        <div class="bannerBox">
                            <img src="images/w3.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                            <div class="item-html">
                                <h3>שעוני<span>נשים</span></h3>
                                <p>טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט</p>
                                <button>קנה עכשיו!</button>
                            </div>
                        </div>
                    </a>
                </li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="middle_content">
            <div class="container">
                <h2>אודותינו</h2>
                <p>טקסט אודות החברה</p>
            </div>
        </div>
