


<div class="account-in">
    <div class="container">
        <form dir="rtl">
            <div class="register-top-grid">
                <h2>פרטים אישיים</h2>
                <div>
                    <span>שם משפחה<label>*</label></span>
                    <input type="text">
                </div>
                <div>
                    <span>שם פרטי<label>*</label></span>
                    <input type="text">
                </div>
                <div>
                    <span>טלפון<label></label></span>
                    <input type="text">
                </div>
                <div>
                    <span>כתובת מייל<label>*</label></span>
                    <input type="text">
                </div>
                <div class="clearfix"> </div>
                <!--<a class="news-letter" href="#">
                  <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> Sign Up for Newsletter</i></label>
                </a>-->
            </div>
            <div class="register-top-grid">
                <h2>פרטים תשלום</h2>
                <div>
                    <span>שם בעל כרטיס<label>*</label></span>
                    <input type="text">
                </div>
                <div>
                    <span>מספר כרטיס<label>*</label></span>
                    <input type="text">
                </div>
                <div>
                    <span>חברת אשראי<label>*</label></span>
                    <input type="text">
                </div>
                <div>
                    <span>ת.ז. בעל הכרטיס<label>*</label></span>
                    <input type="text">
                </div>
                <div>
                    <span>תוקף<label>*</label></span>
                    <input type="text">
                </div>
                <div>
                    <span>שלוש ספרות אחרונות בגב הכרטיס<label>*</label></span>
                    <input type="text">
                </div>
                <div class="clearfix"> </div>
                <!--<a class="news-letter" href="#">
                  <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> Sign Up for Newsletter</i></label>
                </a>-->
            </div>

        </form>
        <div class="clearfix"> </div>
        <div class="register-but">
            <form class="WMarginForm">
                <input type="submit" value="אישור">
                <div class="clearfix"> </div>
            </form>
        </div>
        <div class="clearfix"> </div>

    </div>
</div>

