<div class="account-in">
    <div class="container">
        <div class="check_box">
            <div class="col-md-3 cart-total">
              
                <div class="price-details">
                    <h3>פרטי מחיר</h3>
                    <span class="total1">6200.00</span>
                    <span>סה"כ</span>
                    <span class="total1">---</span>
                    <span>הנחה</span>
                    <span class="total1">150.00</span>
                    <span>דמי משלוח</span>
                    <div class="clearfix"></div>
                </div>
                <ul class="total_price">
                    <li class="last_price"><span>6350.00</span></li>
                    <li class="last_price"> <h4>סה"כ</h4></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"></div>
                <a class="order" href="#order">בצע הזמנה</a>

            </div>
            <div class="col-md-9 cart-items">
                <h1>סל הקניות שלי (2)</h1>
                <script>$(document).ready(function(c) {
                    $('.close1').on('click', function(c){
                        $('.cart-header').fadeOut('slow', function(c){
                            $('.cart-header').remove();
                        });
                    });
                });
                </script>
                <div class="cart-header">
                    <div class="close1"> </div>
                    <div class="cart-sec simpleCart_shelfItem">

                        <div class="cart-item-info">
                            <h3><a href="#">Mountain Hopper(XS R034)</a><span>מס' מודל: 3578</span></h3>
                            <ul class="qty">
                                <li><p>כמות: 1</p></li>
                                <li><p>מידה: 5</p></li>
                            </ul>
                            <div class="delivery">
                                <p>דמי שרות: 100.00 ש"ח</p>
                                <span>נשלח תוך 2-3 ימי עבודה</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="cart-item cyc">
                            <img src="images/m3.jpg" class="img-responsive" alt=""/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <script>$(document).ready(function(c) {
                    $('.close2').on('click', function(c){
                        $('.cart-header2').fadeOut('slow', function(c){
                            $('.cart-header2').remove();
                        });
                    });
                });
                </script>
                <div class="cart-header2">
                    <div class="close2"> </div>
                    <div class="cart-sec simpleCart_shelfItem">

                        <div class="cart-item-info">
                            <h3><a href="#">Mountain Hopper(XS R034)</a><span>מס' מודל: 3578</span></h3>
                            <ul class="qty">
                                <li><p>כמות:1</p></li>
                                <li><p>מידה: 5</p></li>
                            </ul>
                            <div class="delivery">
                                <p>דמי שרות: 100.00 ש"ח</p>
                                <span>נשלח תוך 2-3 ימי עבודה</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="cart-item cyc">
                            <img src="images/m4.jpg" class="img-responsive" alt=""/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
</div>