
<div class="col-md-9 cart-items">
    <h1>השוואת שעונים ({{comp.length}})</h1>
    <script>$(document).ready(function(c) {
        $('.close1').on('click', function(c){
            $('.cart-header').fadeOut('slow', function(c){
                $('.cart-header').remove();
            });
        });
    });
    </script>
    <div ng-repeat="item in comp" class="cart-header">
        <div class="close1" style="background-color:#F9D9BE" ng-click="removeItem(item._id)"> </div>
        <div class="cart-sec simpleCart_shelfItem">

            <div class="cart-item-info">
                <h3><a href="#">מס' דגם: {{item.wId}}</a><span>{{item.company}} {{item.model}}</span></h3>

                <div class="delivery">
                    <p>מחיר: {{item.endPrice}} ש"ח</p>
                    <span>נשלח תוך 14 ימי עבודה</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="cart-item cyc">
                <img src=images\{{item.image}} class="img-responsive" alt=""/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--<script>$(document).ready(function(c) {-->
    <!--$('.close2').on('click', function(c){-->
    <!--$('.cart-header2').fadeOut('slow', function(c){-->
    <!--$('.cart-header2').remove();-->
    <!--});-->
    <!--});-->
    <!--});-->
    <!--</script>-->
    <!--<div class="cart-header2">-->
    <!--<div class="close2"> </div>-->
    <!--<div class="cart-sec simpleCart_shelfItem">-->

    <!--<div class="cart-item-info">-->
    <!--<h3><a href="#">Mountain Hopper(XS R034)</a><span>מס' מודל: 3578</span></h3>-->
    <!--<ul class="qty">-->
    <!--<li><p>כמות:1</p></li>-->
    <!--<li><p>מידה: 5</p></li>-->
    <!--</ul>-->
    <!--<div class="delivery">-->
    <!--<p>דמי שרות: 100.00 ש"ח</p>-->
    <!--<span>נשלח תוך 2-3 ימי עבודה</span>-->
    <!--<div class="clearfix"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="cart-item cyc">-->
    <!--<img src="images/m4.jpg" class="img-responsive" alt=""/>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<div class="clearfix"></div>