
<body>

   <div class="men">
   	 <div class="container">
   	  <div class="grid_1">
	   	  <h1>צור קשר</h1>
	   	  <p>טקסט</p>
      </div>
      <div class="grid_4">
      <div class="grid_2 preffix_1">
	      <ul class="iphone">
            
	      	<li class="phone_desc"><i class="phone" style="float:right"> </i><span class="titleIcons" >טלפון : +1 800 245 2365</span> </li>
            
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="iphone">
	      	
	        <li class="phone_desc"><i class="flag"  style="float:right"> </i><span  class="titleIcons"> כתובת האתר : <a href="mailto:mail@demolink.org">www.demolink.com</a></span></li>
	      	<div class="clearfix"> </div>
	      </ul>
	  </div>
	  <div class="grid_3">
	      <ul class="iphone">
	      	
	        <li class="phone_desc"><i class="msg" style="float:right"> </i><span class="titleIcons"> מייל : <a href="mailto:mail@demolink.org">mail(at)watches.com</a></span> </li>
	      	<div class="clearfix"> </div>
	      </ul>
	      <ul class="iphone">
	      	
            <li class="phone_desc"><i class="home" style="float:right"> </i><span class="titleIcons">כתובת:כתובת</span></li>
                
	      	<div class="clearfix"> </div>
	      </ul>
	  </div>
	  <div class="clearfix"> </div>
	 </div>
	 <!--<div class="contact_form">-->
	 	<!--<h2>שלח תגובה</h2>-->
	    <!--<form>-->
			<!--<div class="col-md-6 to">-->
             	<!--<input type="text" class="text" value="שם" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'שם';}">-->
			 	<!--<input type="text" class="text" value="מייל" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'מייל';}">-->
			 	<!--<input type="text" class="text" value="נושא" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'נושא';}">-->
			<!--</div>-->
			<!--<div class="col-md-6 text">-->
               <!--<textarea value="הודעה" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'הודעה';}">הודעה</textarea>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
            <!--<div class="but__center"><input type="submit" value="שלח הודעה &gt;&gt;"></div>-->
        <!--</form>-->
     <!--</div>-->
    </div>
   </div>
   <div class="map">
	   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
   </div>
