
<div class="container">
    <ul class="content-home">
        <li class="col-sm-4">
            <a href="#men" class="item-link" title="">
                <div class="bannerBox">
                    <img src="images/w11203.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                    <div class="item-html">
                        <h3 style="font-family:BN Anna">שעוני גברים</h3><br><br><br><br>
                        <button style="font-family:BN Anna">קנה עכשיו!</button>
                    </div>
                </div>
            </a>
        </li>
        <li class="col-sm-4">
            <a href="#woman" class="item-link" title="">
                <div class="bannerBox">
                    <img src="images/W0623L3.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                    <div class="item-html">
                        <h3 style="font-family:BN Anna">שעוני נשים</h3><br><br><br><br>
                        <button style="font-family:BN Anna">קנה עכשיו!</button>
                    </div>
                </div>
            </a>
        </li>

        <li class="col-sm-4">
            <a href="#woman" class="item-link" title="">
                <div class="bannerBox">
                    <img src="images/V149LXVLRA.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                    <div class="item-html">
                        <h3 style="font-family:BN Anna"> אובקו</h3><br><br><br><br>
                        <button style="font-family:BN Anna">קנה עכשיו!</button>
                    </div>
                </div>
            </a>
        </li>

        <div class="clearfix"> </div>
    </ul>
</div>
<div class="middle_content">
    <div class="container">

    </div>
</div>
