<!--index-->
<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<title>ShaonBacatalog.html</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../../../js/libraries/jquery-1.12.4.min.js"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../../../js/libraries/megamenu.js"></script>
    <!-- to fix - the order of the menu not  true -->
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="../../../js/libraries/jquery.easydropdown.js"></script>
<script src="../../../js/libraries/simpleCart.min.js"> </script>

<link href="css/bootstrap-theme.min.css" rel='stylesheet' type='text/css' />
    <link href="css/bootstrap-rtl.min.css" rel='stylesheet' type='text/css' />
    <link href="css/MyCss.css" rel="stylesheet" type="text/css" />

     <!-- load angular and angular route via CDN -->

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>-->



<script src="../../../js/libraries/angular.js"></script>
<script src="../../../js/libraries/angular-route.js"></script>
<script src="app.js"></script>
<script src="..\controllers\404Ctrl.js"></script>
<script src="..\controllers\brandsCtrl.js"></script>
<script src="..\controllers\checkoutCtrl.js"></script>
<script src="..\controllers\contactCtrl.js"></script>
<script src="..\controllers\indexCtrl.js"></script>
<script src="..\controllers\loginCtrl.js"></script>
<script src="..\controllers\menCtrl.js"></script>
<script src="..\controllers\newCtrl.js"></script>
<script src="..\controllers\orderCtrl.js"></script>
<script src="..\controllers\singleCtrl.js"></script>
<script src="..\controllers\womanCtrl.js"></script>
</head>
<body ng-controller="indexCtrl">
	<div id="index_banner" class="banner">
        <div class="container">
            <div class="header_top">
                <div class="header_top_left">
                    <div class="box_11">
                        <a href="#checkout">
                            <!-- to fix - in small screen the texrt is ltr -->
                            <h4><p>עגלה: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> פריטים)</p><img src="images/bag.png" alt="" /><div class="clearfix"> </div></h4>
                        </a>
                    </div>

                    <div class="clearfix"> </div>
                </div>

                <div class="header_top_right">
                    <div class="row">

                        <div class="col-sm-9">
                            <ul class="header_user_info">
                                <a class="login" href="#login"><!-- login -->
                                    <i class="user"> </i>
                                    <li class="user_desc">החשבון שלי</li>
                                </a>

                            </ul>
                        </div>
                        <!-- start search-->
                        <div class="col-sm-3">
                            <!-- to fix-in small screen is hide -->
                            <div class="search-box">
                                <div id="sb-search" class="sb-search ">
                                    <form>
                                        <input class="sb-search-input" placeholder="חפ חפש..." type="search" name="search" id="search">
                                        <input class="sb-search-submit" type="submit" value="">
                                        <span class="sb-icon-search"> </span>
                                    </form>
                                </div>
                            </div>
                        </div
                        <br />


                        <!----search-scripts---->
                        <script src="../../../js/libraries/classie1.js"></script>
                        <script src="../../../js/libraries/uisearch.js"></script>
                        <script>
                               new UISearch(document.getElementById('sb-search'));
                        </script>
                        <!----//search-scripts---->
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="header_bottom">
            <div class="logo Wmargin-logo">
              <h1><span class="m_1">ש</span>עון בקטלוג</h1>
            </div>
            <br /><br />
            <div class="Wmenu">
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <!-- data from DB -->
                        <li><a class="color7" href="#whatsNew">מה חדש</a></li>

					 <li>
                            <a class="color2" href="#woman">נשים</a>
                            <div class="megapanel WRightPanel">
                                <div class="row">
                                    <div class="col2">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">נוספים</h4>
                                            <ul class="WclearFloat">
                                                <li>
                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p1.jpg" class="img-responsive" alt="" />
                                                    </div>

                                                    <div class="clearfix"> </div>
                                                </li>
                                                <li>

                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p2.jpg" class="img-responsive" alt="" />
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </li>
                                                <li>

                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p3.jpg" class="img-responsive" alt="" />
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">אופנה</h4>
                                            <ul class="WclearFloat">
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">מותגים</h4>
                                            <ul class="WclearFloat">
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>

                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>
						<li>
                            <a class="color2" href="#men">גברים</a>
                            <div class="megapanel WRightPanel">
                                <div class="row">
                                    <div class="col2">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">נוספים</h4>
                                            <ul class="WclearFloat">
                                                <li>
                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p1.jpg" class="img-responsive" alt="" />
                                                    </div>

                                                    <div class="clearfix"> </div>
                                                </li>
                                                <li>

                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p2.jpg" class="img-responsive" alt="" />
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </li>
                                                <li>

                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p3.jpg" class="img-responsive" alt="" />
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">אופנה</h4>
                                            <ul class="WclearFloat">
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">מותגים</h4>
                                            <ul class="WclearFloat">
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>

                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>


                        <li class ="active"><a href="#/ ">דף הבית</a></li>



                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

   </div>

   <div class="main" ng-view></div>


    <div class="footer">
        <div class="container">




                    <div class="cssmenu">
                        <ul>
                            <li class="active"><a href="#legall">מדיניות</a></li>
                            <li><a href="#about">אודותינו</a></li>
                            <li><a href="#contact">צור קשר</a></li>
                        </ul>
                    </div>




                    <ul class="social">
                        <li><a href=""> <i class="instagram"> </i> </a></li>
                        <li><a href=""><i class="fb"> </i> </a></li>
                        <li><a href=""><i class="tw"> </i> </a></li>
                    </ul>

                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
            </div>
    </div>
</body>
</html>