<!--index-->
<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<title>ShaonBacatalog.html</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->

    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/megamenu.js"></script>
    <!-- to fix - the order of the menu not  true -->
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="/jquery.easydropdown.js"></script>
<script src="/simpleCart.min.js"> </script>

<link href="css/bootstrap-theme.min.css" rel='stylesheet' type='text/css' />
    <link href="css/bootstrap-rtl.min.css" rel='stylesheet' type='text/css' />
    <link href="css/MyCss.css" rel="stylesheet" type="text/css" />

     <!-- load angular and angular route via CDN -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--materia-light-->
    <link rel="stylesheet" href="css/mdl/material.min.css">
    <script src="css/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />




<script src="app.js"></script>
<script src="404Ctrl.js"></script>
<script src="cartCtrl.js"></script>
<script src="brandsCtrl.js"></script>
<script src="checkoutCtrl.js"></script>
<script src="contactCtrl.js"></script>
<script src="indexCtrl.js"></script>
<script src="loginClientCtrl.js"></script>
<script src="menCtrl.js"></script>
<script src="newCtrl.js"></script>
<script src="orderCtrl.js"></script>
<script src="singleCtrl.js"></script>
<script src="womanCtrl.js"></script>
<script src="comparisonCtrl.js"></script>

</head>
<body ng-controller="indexCtrl">
	<div id="index_banner" class="banner">
        <div class="container">
            <div class="header_top">
                <div class="header_top_left">

                        <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="business" value="PAP4GMJNYL4PL">
                                <input type="image" class="img-responsive img-circle" src="images/cart1.png" border="0"  width="70px" name="submit" alt="">
                                <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                                <input type="hidden" name="display" value="1">
                            </form>


                    <div class="clearfix"> </div>
                </div>

                <div class="header_top_right">
                    <div class="row">


                        <!-- start search-->
                      
                        <br />


                        <!----search-scripts---->
                        <script src="classie1.js"></script>
                        <script src="uisearch.js"></script>
                        <script>
                               new UISearch(document.getElementById('sb-search'));
                        </script>
                        <!----//search-scripts---->
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="header_bottom">
            <div class="logo Wmargin-logo">
              <h1><span class="m_1">ש</span>עון בקטלוג</h1>
                <div class="down-button">

                </div>
            </div>
            <br /><br />
            <div class="Wmenu">
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <!-- data from DB -->

					 <li>
                            <a class="color2" href="#woman">נשים</a>
                            <div class="megapanel WRightPanel">
                                <div class="row">
                                    <div class="col2">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">שעונים</h4>
                                            <ul class="WclearFloat">
                                                <li>
                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p1.jpg" class="img-responsive" alt="" />
                                                    </div>

                                                    <div class="clearfix"> </div>
                                                </li>
                                                <li>

                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p2.jpg" class="img-responsive" alt="" />
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </li>
                                                <li>

                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p3.jpg" class="img-responsive" alt="" />
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">אופנה</h4>
                                            <ul class="WclearFloat">
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">מותגים</h4>
                                            <ul class="WclearFloat">
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>

                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>
						<li>
                            <a class="color2" href="#men">גברים</a>
                            <div class="megapanel WRightPanel">
                                <div class="row">
                                    <div class="col2">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">נוספים</h4>
                                            <ul class="WclearFloat">
                                                <li>
                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p1.jpg" class="img-responsive" alt="" />
                                                    </div>

                                                    <div class="clearfix"> </div>
                                                </li>
                                                <li>

                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p2.jpg" class="img-responsive" alt="" />
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </li>
                                                <li>

                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="p_left">
                                                        <img src="images/p3.jpg" class="img-responsive" alt="" />
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul class="WclearFloat">
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                                <li><a href="#men">Calvin Klein-קלווין קליין</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4 class="WfloatRight">מותגים</h4>
                                            <ul class="WclearFloat">
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>
                                                <li><a href="#men">Tisst-טיסו</a></li>

                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>


                        <li class ="active"><a href="#/ ">דף הבית</a></li>



                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
            <div class="down-button">

                <a id="linkID">
                <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
                <script>
                    $("#linkID").click(function () {
                        $('html, body').animate({
                            scrollTop: $('#main').offset().top
                        }, 'slow');
                    })
                </script>
            </div>

            <div class="clearfix"> </div>

        </div>




    </div>

   <div id="main" ng-view></div>


    <div class="footer">
        <div class="container">




                    <div class="cssmenu">
                        <ul>
                            <li class="active"><a href="#legall">מדיניות</a></li>
                            <li><a href="#about">אודותינו</a></li>
                            <li><a href="#contact">צור קשר</a></li>
                        </ul>
                    </div>




                    <ul class="social">
                        <li><a href=""> <i class="instagram"> </i> </a></li>
                        <li><a href=""><i class="fb"> </i> </a></li>
                        <li><a href=""><i class="tw"> </i> </a></li>
                    </ul>

                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
            </div>
    </div>
</body>
<!--&lt;!&ndash;scrooling effects&ndash;&gt;-->

<!--<script src="css/jquery.easing.1.3.js"></script>-->
<!--<script src="css/jquery.stellar.js"></script>-->
<!--<script src="js/scrolling.js"></script>-->
</html>