

<div class="col-sm-3 center" style="margin-left: 430px">
	<form name="myForm"  class="form-horizontal" novalidate ng-submit="signing(myForm)">
		<h3>כניסה למנהל</h3><br>
		<label for="inputUserName" class="sr-only">שם משתמש</label>
		<input id="inputUserName" ng-model="user.userName" class="form-control" placeholder="שם משתמש" name="userName" required="true" autofocus="" type="name">

		</br>

		<label for="inputPassword" class="sr-only">סיסמא</label>
		<input id="inputPassword" ng-model="user.password" class="form-control" placeholder="סיסמא" name="password" required="true"  type="password">

		<!--<label for="inputConfirmPassword" class="sr-only"> Confirm Password</label>-->
		<!--<input id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required="" type="password">-->

		</br>

		<button class="btn btn-lg btn-primary btn-block" ng-disabled="myForm.$invalid" type="submit">התחבר</button>
		<a href="#/home" class="btn btn-lg btn-primary btn-block" >ביטול</a>
	</form>
</div>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->



<!--<a href="admin\index.html">הכנס כמנהל</a>-->