


<div class="account-in">
    <div class="container" ng-form="myForm">
        <form dir="rtl">
            <div class="register-top-grid">
                <h2>פרטים אישיים</h2>
                <div>
                    <span>שם משפחה<label>*</label></span>
                    <input type="text" ng-model="firstName" class="register-txt form-control" name="firstName" ng-required="true">
					<span class="errMessage" ng-show="myForm.firstName.$dirty && myForm.firstName.$error.required"> שדה זה הינו חובה</span>
                </div>
                <div>
                    <span>שם פרטי<label>*</label></span>
                    <input type="text" ng-model="lastName" class="register-txt form-control" name="lastName" ng-required="true">
					<span class="errMessage" ng-show="myForm.lastName.$dirty && myForm.lastName.$error.required">שדה זה הינו חובה</span>
                </div>
                <div>
                    <span>טלפון<label></label></span>
                    <input type="text" ng-model="number" class="register-txt form-control" name="number">
                </div>
                <div>
                    <span>כתובת מייל<label>*</label></span>
                    <input type="text" ng-model="email" class="register-txt form-control" name="email">
                </div>
                <div class="clearfix"> </div>
                <!--<a class="news-letter" href="#">
                  <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> Sign Up for Newsletter</i></label>
                </a>-->
            </div>
            <div class="register-bottom-grid" style="clear:both">
                <h2>פרטי חשבון</h2>
                <div>
                    <span>סיסמא<label>*</label></span>
                    <input type="password" ng-model="password" class="register-txt form-control" name="password" ng-required="true">
                </div>
                <div>
                    <span>אישור סיסמא<label>*</label></span>
                    <input type="password" ng-model="passwordValid" class="register-txt form-control" name="passwordValid" ng-required="true">>
                </div>
                <div class="clearfix"> </div>
            </div>
        </form>
        <div class="clearfix"> </div>
        <div class="register-but">
            <form class="WMarginForm">
                <button ng-click="insertUser()" class="btn btn-primary">הירשם</button>
				<a href="#/login" class="btn btn-link">ביטול</a>
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
</div>

