<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 text align="right">ניהול הזמנות</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>הזמנה מהספק</th>
            <th>עידכון</th>
            <th>מחיקה</th>
            <th>תאריך</th>
            <th>מזהה פרטי תשלום</th>
            <th>מזהה שעון</th>
            <th>מזהה מזמין</th>
            <th>מזהה</th>

        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button type="button" align="right" class="btn btn-default btn-lg">הוספת הזמנה חדשה</button>
    <button type="button" align="right" class="btn btn-default btn-lg">הזמנות ישנות</button>
    <button type="button" align="right" class="btn btn-default btn-lg">שליחת ההזמנה לספק</button>
</div>
</body>
</html>
